<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/Capstone_edX/Module%201/survey_results_public_2020.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
nber_duplicated_rows = df.duplicated().sum()
nber_duplicated_rows# your code goes here

0

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [4]:
df.drop_duplicates(inplace=True)# your code goes here

Verify if duplicates were actually dropped.

In [5]:
nber_duplicated_rows = df.duplicated().sum()
nber_duplicated_rows# # your code goes here

0

## Finding Missing values

Find the missing values for all columns.

In [7]:
df.isnull()# your code goes here

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,False,False,False,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,True,True,True,False,False,...,True,True,True,False,True,True,False,True,False,False
2,False,False,False,True,False,True,True,True,False,True,...,False,False,True,True,True,True,False,True,False,True
3,False,False,False,False,False,True,True,True,False,False,...,True,True,False,False,True,True,False,False,False,False
4,False,False,False,False,False,True,True,True,False,True,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,False,True,False,True,False,True,True,True,False,True,...,True,True,True,False,True,True,True,True,False,False
64457,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64458,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64459,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,False,True,True,True,True,True
64460,False,True,False,True,True,True,True,True,False,True,...,True,True,True,False,False,False,True,True,True,True

In [ ]:
# your code goes here

## Imputing missing values

Find the  value counts for the column Age.

In [8]:
df.value_counts('Age')# your code goes here

Age
25.0     2693
28.0     2412
30.0     2406
26.0     2391
27.0     2338
         ...
19.8        1
16.5        1
15.5        1
14.7        1
279.0       1
Length: 110, dtype: int64

Find the median for the column Age

In [9]:
df['Age'].median()#your code goes here

29.0

Impute the median value to Age column

In [10]:
df['Age Median'] = df['Age'].median()
df['Age Median']# your code goes here

0        29.0
1        29.0
2        29.0
3        29.0
4        29.0
         ...
64456    29.0
64457    29.0
64458    29.0
64459    29.0
64460    29.0
Name: Age Median, Length: 64461, dtype: float64

Identify the value that is most frequent (majority) in the Country column.

In [11]:
df1 = df.groupby('Country').size()
df1# your code goes here

Country
Afghanistan                              84
Albania                                  54
Algeria                                  94
Andorra                                  13
Angola                                    9
                                       ...
Venezuela, Bolivarian Republic of...     70
Viet Nam                                364
Yemen                                     7
Zambia                                   21
Zimbabwe                                 31
Length: 183, dtype: int64

Drop all the missing values from the dataset

In [12]:
df.dropna(inplace=True)

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [13]:
df['CompFreq'].unique()# your code goes here

array(['Yearly', 'Monthly', 'Weekly'], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [14]:
NormalizedCompDict ={'Yearly' : df['CompTotal'], 'Monthly' : df['CompTotal']*12, 'Weekly' : df['CompTotal']*52}
df['NormalizedAnnualCompensation'] = df['CompFreq'].map(NormalizedCompDict)
df['NormalizedAnnualCompensation']# your code goes here

9        9         25000.0
32         4900.0
41       1...
32       9         300000.0
32         58800.0
41      ...
41       9         25000.0
32         4900.0
41       1...
46       9         25000.0
32         4900.0
41       1...
68       9         25000.0
32         4900.0
41       1...
                               ...
61613    9         25000.0
32         4900.0
41       1...
61636    9         25000.0
32         4900.0
41       1...
61654    9         25000.0
32         4900.0
41       1...
61993    9         25000.0
32         4900.0
41       1...
63517    9         25000.0
32         4900.0
41       1...
Name: NormalizedAnnualCompensation, Length: 4213, dtype: object

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).